<html>
/* Rectangle 1 */
position: absolute;
width: 1512px;
height: 1988px;
left: 0px;
top: 0px;

background: #D9D9D9;


/* Rectangle 12 */


position: absolute;
width: 1512px;
height: 62px;
left: 0px;
top: 0px;

background: #000000;


/* spyvpn.tech/ordervpn */


position: absolute;
width: 1512px;
height: 62px;
left: 0px;
top: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;



/* image 4 */


position: absolute;
width: 1512px;
height: 620px;
left: 0px;
top: 62px;

background: url(image.png);


/* image 5 */


position: absolute;
width: 1512px;
height: 618px;
left: 0px;
top: 668px;

background: url(image.png);


/* Rectangle 15 */


position: absolute;
width: 440px;
height: 30px;
left: 124px;
top: 826px;

background: #FFFFFF;


/* rsingh@spyvpn.tech */


position: absolute;
width: 572px;
height: 30px;
left: 124px;
top: 817px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #000000;



/* image 6 */


position: absolute;
width: 1512px;
height: 690px;
left: 0px;
top: 900px;

background: url(image.png);


/* Rectangle 16 */


position: absolute;
width: 210px;
height: 38px;
left: 128px;
top: 1172px;

background: #FFFFFF;


/* Rectangle 17 */


position: absolute;
width: 210px;
height: 38px;
left: 394px;
top: 1172px;

background: #FFFFFF;


/* Rectangle 18 */


position: absolute;
width: 157px;
height: 38px;
left: 651px;
top: 1172px;

background: #FFFFFF;


/* Rectangle 19 */


position: absolute;
width: 157px;
height: 38px;
left: 128px;
top: 1267px;

background: #FFFFFF;


/* Rectangle 20 */


position: absolute;
width: 157px;
height: 38px;
left: 469px;
top: 1267px;

background: #FFFFFF;


/* Rectangle 21 */


position: absolute;
width: 157px;
height: 38px;
left: 677px;
top: 1267px;

background: #FFFFFF;


/* Rohan */


position: absolute;
width: 210px;
height: 40px;
left: 128px;
top: 1170px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;



/* Singh */


position: absolute;
width: 210px;
height: 40px;
left: 394px;
top: 1169px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;



/* 90001 */


position: absolute;
width: 210px;
height: 40px;
left: 651px;
top: 1168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;



/* 1224255436542259 */


position: absolute;
width: 356px;
height: 39px;
left: 134px;
top: 1266px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #000000;



/* 11/22 */


position: absolute;
width: 199px;
height: 39px;
left: 452px;
top: 1266px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #000000;



/* 546 */


position: absolute;
width: 130px;
height: 35px;
left: 678px;
top: 1260px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #000000;



/* Rectangle 22 */


position: absolute;
width: 173px;
height: 78px;
left: 112px;
top: 1486px;

background: rgba(217, 217, 217, 0.12);


/* Rectangle 23 */


position: absolute;
width: 156px;
height: 34px;
left: 1204px;
top: 1138px;

background: #FFFFFF;


/* spyKEYS */


position: absolute;
width: 164px;
height: 54px;
left: 1204px;
top: 1137px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #000000;



/* Rectangle 24 */


position: absolute;
width: 132px;
height: 42px;
left: 906px;
top: 1082px;

background: #FFFFFF;


/* spyVPN */


position: absolute;
width: 127px;
height: 54px;
left: 911px;
top: 1076px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #000000;



/* Rectangle 25 */


position: absolute;
width: 79px;
height: 18px;
left: 120px;
top: 1420px;

background: #FFFFFF;
</html>
